.btn {
   border: none;
   background: none;
   outline: none;
   text-align: center;
   font-size: 14px;
   line-height: 20px;
   text-transform: capitalize;
   border-radius: 12px;
   display: flex;
   align-items: center;
   gap: 12px;
   transition: all 0.3s ease;
   cursor: pointer;
}
.btn:disabled {
   border: 1px solid var(--stroke);
   color: var(--black-8);
   background: var(--stroke);
}
.btn:disabled i {
   color: var(--black-1);
}

.btn-red {
   background: var(--red-8) !important;
   color: var(--white) !important;
}
.btn-red:hover {
   background: var(--red) !important;
}

.btn-primary-row {
   padding: 16px 35px;
}

.btn-success-row {
   padding: 16px 20px 16px 16px;
}

.btn-medium-row {
   padding: 10px 24px;
}
.btn--slick{
   padding: 10px;
}

.btn-small-row {
   padding: 10px 24px 10px 16px;
}

.btn-success-reverse {
   padding: 16px 16px 16px 20px;
}

.btn-small-reverse {
   padding: 10px 16px 10px 24px;
}

.btn-row {
   flex-direction: row;
}

.btn-reverse {
   flex-direction: row-reverse;
}

.btn--red {
   background: var(--instagram);
   color: var(--white);
}

.btn-blue {
   background: var(--twitter);
   padding: 12px;
   color: var(--white);
}

.btn--red:hover,
.btn-blue:hover {
   opacity: 0.8;
}

.reply-btn {
   background: var(--disabled);
   color: var(--black-8);
   background: var(--black-6);
   position: relative;
}
.reply-btn::before {
   content: "\e90c";
   font-family: Icomoon;
}

.send-btn {
   position: relative;
   white-space: nowrap;
   align-items: center;
   padding: 14px 24px 14px 16px;
}
.send-btn::before {
   content: "\e909";
   font-family: Icomoon;
}

.btn-light {
   border: 1px solid var(--stroke);
   background: none;
   color: var(--red-8);
}
.btn-light:hover {
   background: var(--red-2);
   border: 1px solid var(--red-2);
}

.btn-add {
   padding: 9px 12px;
   background: var(--stroke);
}

.btn-other:hover {
   background: var(--red);
   color: var(--white);
}
.btn-save::before{
   content: "\ed93";
}