*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   line-height: normal;
}
strong{
   font-weight: bold;
}
i{
   font-style: italic;
}
.ck-powered-by{
   display: none;
}
.ck-editor__editable ul,
.ck-editor__editable ol{
   margin-left: 20px;
}
.ck-editor__editable ul li{
   list-style-type: disc;
}
.ck-editor__editable ol li{
   list-style: decimal;
}
a{
   text-decoration: none !important;
   display: inline-block;
}

*>img,
*>video{
   width: 100%;
   height: 100%;
   object-fit: fill;
}